<h1>User Profile</h1>
<p><strong>Email:</strong> <%= @user.email %></p>

<% if @user.attended_events.any? %>
  <h2>Past Events:</h2>
  <ul>
    <% @user.attended_events.where('date < ?', Date.today).each do |event| %>
      <li><%= link_to event.name, event %></li>
    <% end %>
  </ul>

  <h2>Future Events:</h2>
  <ul>
    <% @user.attended_events.where('date >= ?', Date.today).each do |event| %>
      <li><%= link_to event.name, event %></li>
    <% end %>
  </ul>
<% else %>
  <p>No events attended yet.</p>
<% end %>

<%= link_to 'Back', users_path %>
